:root{
    --primary-color: #2E2F42;
    --logo-color: #4D5AE5;
    --additional-color: #434455;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
}
button{
    cursor: pointer;
}

address{
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    color: var(--additional-color);
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.link{
    text-decoration: none;
}

.header-logo-two {
    color: var(--primary-color);
}

.list{
    list-style: none
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color)
}
.header-menu:is(:hover, :focus){
    color: #404BBF;
}

.address{
    font-style: normal
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    text-decoration: none;
}
.contacts:is(:hover, :focus){
    color:#404BBF;
}

.section-one {
    background: var(--primary-color);
}

.section-one-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn-text {
    cursor: pointer;
    font-family: inherit;
    width: 169px;
    height: 56px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.btn-text:is(:hover, :focus){
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section-two {
}

.section-two-list {
}

.section-two-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.section-two-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
}

.section-three-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-four {
    background: #F4F4FD;
}

.name-list {
    background-color: white;
}

.section-four-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
}

.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.names-about {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
}

.footer{
    background: var(--primary-color);
}
.footer-logo-two {
    color: #F4F4FD;}

.footer_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.portfolio-btn{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.portfolio-btn:is(:hover, :focus){
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.portfolio-main-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.porfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
}





